@tailwind base;
@tailwind components;
@tailwind utilities;


.text-gold {
    color: #D4AF37;
  }
  
.bg-gold {
    background-color: #D4AF37;
  }
  
.border-gold {
    border-color: #D4AF37;
  }
  
.hover\:text-gold:hover {
    color: #D4AF37;
  }
  
.hover\:bg-gold:hover {
    background-color: #D4AF37;
  }

.gold{
    color: #D4AF37;
  }


